# Created by .ignore support plugin (hsz.mobi)

.idea
project/project/
project/target/config-classes/
project/target/resolution-cache/default/akkaslickrestapi-build/
project/target/resolution-cache/reports/default-akkaslickrestapi-build-compile-internal.xml
project/target/resolution-cache/reports/default-akkaslickrestapi-build-compile.xml
project/target/resolution-cache/reports/default-akkaslickrestapi-build-docs.xml
project/target/resolution-cache/reports/default-akkaslickrestapi-build-optional.xml
project/target/resolution-cache/reports/default-akkaslickrestapi-build-plugin.xml
project/target/resolution-cache/reports/default-akkaslickrestapi-build-pom.xml
project/target/resolution-cache/reports/default-akkaslickrestapi-build-provided.xml
project/target/resolution-cache/reports/default-akkaslickrestapi-build-runtime-internal.xml
project/target/resolution-cache/reports/default-akkaslickrestapi-build-runtime.xml
project/target/resolution-cache/reports/default-akkaslickrestapi-build-scala-tool.xml
project/target/resolution-cache/reports/default-akkaslickrestapi-build-sources.xml
project/target/resolution-cache/reports/default-akkaslickrestapi-build-test-internal.xml
project/target/resolution-cache/reports/default-akkaslickrestapi-build-test.xml
project/target/scala-2.10/
project/target/streams/$global/$global/
project/target/streams/$global/ivySbt/
project/target/streams/$global/projectDescriptors/
project/target/streams/compile/compile/
project/target/streams/compile/compileIncremental/$global/streams/export
project/target/streams/compile/incCompileSetup/
project/target/streams/compile/managedClasspath/
project/target/streams/compile/unmanagedClasspath/
project/target/streams/compile/unmanagedJars/
project/target/streams/runtime/
target/
